@import '../../style/var.scss';
@import '../../style/mobile.scss';

.report-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .report-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include set-vw(gap, 30px);
        @include set-vw(margin-bottom, 50px);

        div {
            border-radius: 50%;
            background-color: $GN-7;
            box-shadow: 0px 0px 10px black inset;
            @include set-vw(width, 20px);
            @include set-vw(height, 20px);
        }
    }

    .report-title {
        font-family: KOTRAHOPE;
        font-weight: 500;
        color: $GN-7;
        @include set-vw(font-size, 25px);
        @include set-vw(margin-bottom, 20px);

    }

    .chart-wrapper {
        @include set-vw(width, 500px);
        @include set-vw(height, 400px);
    }

    .report-content-text {
        font-family: KyoboHand;
        font-weight: 500;
        color: $GN-7;
        @include set-vw(font-size, 20px);
        @include set-vw(margin-top, 20px);

        div {
            line-height: 160%;
            position: relative;
            @include set-vw(margin-bottom, 10px);

            b {
                position: relative;

                &::after {
                    content: "";
                    width: 100%;
                    position: absolute;
                    left: 0; bottom: 0;
                    background-color: $GN-1;
                    background-color: #ff000017;
                    @include set-vw(height, 15px);
                }
            }

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $GN-7;
                position: absolute;
                left: 0; bottom: 0;
            }
        }
    }
}