@import '../../style/mobile.scss';
@import '../../style/var.scss';

.turtleneck-test-content-wrapper {
    .progress-bar {
        width: 80%;
        background-color: $GR-1;
        margin: auto;
        @include set-vw(height, 15px);
        @include set-vw(border-radius, 10px);

        .progress-bar-inner {
            background-color: $RE;
            transition: 0.3s;
            @include set-vw(height, 15px);
            @include set-vw(border-radius, 10px);
        }
    }

    .turtleneck-test-content {
        min-height: 70vh;
        height: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.page-exiting {
            .question-title {
                animation: showDown 1s;
            }

            // .answer-container {
            //     .answer-elem {
            //         animation: showDown 1s;
            //     }
            // }
        }
    }

    .question-idx {
        font-family: 'KOTRAHOPE';
        font-weight: 500;
        color: $RE;
        @include set-vw(font-size, 30px);
    }

    .question-title {
        font-family: 'KOTRAHOPE';
        font-weight: 500;
        white-space: pre-wrap;
        line-height: 160%;
        color: $GN-6;
        @include set-vw(font-size, 24px);
        @include set-vw(margin-top, 50px);
        @include set-vw(margin-bottom, 50px);
    }

    .answer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        @include set-vw(gap, 30px);

        .answer-elem {
            font-family: 'KyoboHand';
            width: -webkit-fill-available;
            background-color: $GN-1;
            box-shadow: 0px 0px 10px rgb(0 87 0 / 18%);
            font-weight: 500;
            @include set-vw(padding, 14px);
            @include set-vw(font-size, 16px);
            @include set-vw(border-radius, 15px);
            @include active-color($GN-2);
        }
    }
}