@import '../../style/var.scss';

.streetching-all-page {
    padding: 0 5rem;

    .page-title-wrapper {
        margin-top: 5rem;
        margin-bottom: 3rem;
        position: relative;

        .logo {
            position: absolute;
            left: 0; top: rem(-10);
            width: rem(100);
            height: auto;
            cursor: pointer;
        }
        
        .page-title {
            margin-bottom: 1rem;
            font-size: 4rem;
            font-family: KOTRAHOPE;
            color: $IV;
        }

        .page-description {
            font-size: 2rem;
            font-family: KyoboHand;
            color: $YE;
        }
    }



    .stretching-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
        padding: 2rem;
    }

    .stretching-elem {
        width: 50rem;
        border-radius: 3rem;
        overflow: hidden;
        background-color: $YE;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transform: translateY(-1rem);
        }

        .stretching-image {
            width: 100%;
            height: 40rem;
            object-fit: cover;
        }

        .stretching-body {
            padding: 1.5rem 2.5rem;
            text-align: left;

            .stretching-name {
                font-size: 2.5rem;
                font-family: KOTRAHOPE;
                margin-bottom: 0.5rem;
            }

            .stretching-description {
                font-size: 1.5rem;
                font-family: KyoboHand;
                margin-bottom: 1rem;
            }
        }
    }
}